.idea/
build/


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

my_tests/*.npz
my_tests/*.pth
my_tests/*.onnx
my_tests/*.bin
my_tests/*.param

*/1111.jpg
*/1112.jpg

